/*nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-header {
        margin: .3125rem;
        height: 4.375rem;
    }
    .div-nav {
        display: flex;
        justify-content: space-around;
        padding-bottom: .625rem;
        box-shadow: 0 6px 8px -6px $negro;
        width: 49%;
        a {
            color: $negro;
            margin-left: 15px;
        }
        ul {
            li {
                &:hover ul {
                    visibility: visible;
                    opacity: 1;
                    background-color: #fff;
                    top: 3.125rem;
                }
                ul {
                    width: 11.875rem;
                    display: flex;
                    flex-direction: column;
                    background: #fff;
                    position: absolute;
                    top: 5.625rem;
                    visibility: hidden;
                    opacity: 1;
                    z-index: 10;
                    box-shadow: 6px 6px 10px -6px $negro;
                    transition: all 300ms ease;
                    li {
                        a {
                            display: block;
                            width: 8.75rem;
                            margin-top: .625rem;
                            padding: .375rem;
                            transition: all 300ms ease;
                            &:hover {
                                color: #6c6c77;
                                background-color: #e2e0e0;
                                transform: scale(1.1);
                                padding-left: 30px;
                                font-size: .875rem;
                                box-shadow: 6px 6px 10px -6px $negro;
                            }
                        }
                    }
                }
            }
        }
    }
}


.div-nav-primero ul {
    padding: 0;
    margin: 0;
    li {
        display: flex;
        align-items: center;
    }
}

.a-nav:hover {
    transform: scale(1.1);
    color: #6c6c77;
}
*/

/*
    BARRA NAVEGACION DE TODO EL PORTAL
*/
.a-nav:hover {
    transform: scale(1.1);
    color: #6c6c77;
}

.div-nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: .625rem;
    box-shadow: 0 6px 8px -6px #000;
    width: 49%;
}

.div-nav-primero ul {
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
    }
}

.div-nav ul li {
    ul {
        width: 11.875rem;
        display: flex;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 5.625rem;
        visibility: hidden;
        opacity: 1;
        z-index: 10;
        box-shadow: 6px 6px 10px -6px #000;
        transition: all 300ms ease;
    }
    &:hover ul {
        visibility: visible;
        opacity: 1;
        background-color: #fff;
        top: 3.125rem;
    }
    ul li a {
        display: block;
        width: 8.75rem;
        margin-top: .625rem;
        padding: .375rem;
        transition: all 300ms ease;
        &:hover {
            color: #6c6c77;
            background-color: #e2e0e0;
            transform: scale(1.1);
            padding-left: 30px;
            font-size: .875rem;
            box-shadow: 6px 6px 10px -6px #000;
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-nav a {
    color: #000;
    margin-left: 15px;
}

.img-header {
    margin: .3125rem;
    height: 4.375rem;
}